<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BestDeal4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>listener.AppContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>insertUser</servlet-name>
    <servlet-class>servlets.insertUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertUser</servlet-name>
    <url-pattern>/insertUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>laptops</servlet-name>
    <servlet-class>servlets.laptops</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>laptops</servlet-name>
    <url-pattern>/laptops</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tablets</servlet-name>
    <servlet-class>servlets.tablets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tablets</servlet-name>
    <url-pattern>/tablets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addProduct</servlet-name>
    <servlet-class>servlets.addProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProduct</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cart</servlet-name>
    <servlet-class>servlets.cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>servlets.addToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteFromCart</servlet-name>
    <servlet-class>servlets.deleteFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteFromCart</servlet-name>
    <url-pattern>/deleteFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkout</servlet-name>
    <servlet-class>servlets.checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkout</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderConfirmation</servlet-name>
    <servlet-class>servlets.orderConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderConfirmation</servlet-name>
    <url-pattern>/orderConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addReview</servlet-name>
    <servlet-class>servlets.addReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addReview</servlet-name>
    <url-pattern>/addReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewReview</servlet-name>
    <servlet-class>servlets.viewReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewReview</servlet-name>
    <url-pattern>/viewReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteProduct</servlet-name>
    <servlet-class>servlets.deleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProduct</servlet-name>
    <url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateProduct</servlet-name>
    <servlet-class>servlets.updateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProduct</servlet-name>
    <url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productsReviewCount</servlet-name>
    <servlet-class>servlets.productsReviewCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productsReviewCount</servlet-name>
    <url-pattern>/productsReviewCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>products</servlet-name>
    <servlet-class>servlets.products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>products</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>autoComplete</servlet-name>
    <servlet-class>servlets.autoComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>autoComplete</servlet-name>
    <url-pattern>/autocomplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getProductById</servlet-name>
    <servlet-class>servlets.getProductById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProductById</servlet-name>
    <url-pattern>/getProductById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productsReviewRating</servlet-name>
    <servlet-class>servlets.productsReviewRating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productsReviewRating</servlet-name>
    <url-pattern>/productsReviewRating</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>zipsReviewCount</servlet-name>
    <servlet-class>servlets.zipsReviewCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zipsReviewCount</servlet-name>
    <url-pattern>/zipsReviewCount</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>DealMatches</servlet-name>
    <servlet-class>servlets.DealMatches</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealMatches</servlet-name>
    <url-pattern>/DealMatches</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>index1</servlet-name>
    <servlet-class>servlets.index1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index1</servlet-name>
    <url-pattern>/index1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>servlets.hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>servlets.home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewOrderServlet</servlet-name>
    <servlet-class>servlets.viewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewOrderServlet</servlet-name>
    <url-pattern>/viewOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cancelOrder</servlet-name>
    <servlet-class>servlets.cancelOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelOrder</servlet-name>
    <url-pattern>/cancelOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>salesman</servlet-name>
    <servlet-class>servlets.salesman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>salesman</servlet-name>
    <url-pattern>/salesman</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliveredOrder</servlet-name>
    <servlet-class>servlets.DeliveredOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveredOrder</servlet-name>
    <url-pattern>/DeliveredOrder</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>cancelOrderForSalesman</servlet-name>
    <servlet-class>servlets.cancelOrderForSalesman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelOrderForSalesman</servlet-name>
    <url-pattern>/cancelOrderForSalesman</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>